.banner1 {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assete/image/images.jpg\ banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 800px;
   
    background-image: url("../assete/image/medicine-doctor-with-stethoscope-in-hand-on-hospital-background-medical-technology-healthcare-and-medical-concept-photo.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.35);
}

.login-card {
    background-color:rgb(235, 229, 229);
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}