h1 {
    background-color: aqua;
    color: black;
}

b{
    
    color: rgb(220, 19, 19);
}
p{
    background-color: rgb(189, 233, 206);
}

h2 {
    background-color: red;
    color: black;
}
h3 {
    background-color: rgb(149, 158, 158);
    color: rgb(50, 29, 234);
}
